{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'articles/articleslist.css' %}">
{% block title %} Articles Post Page {% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5 text-center">
        <div class="col-lg-5 mt-2 mb-2" id="text-accueille">
            <h3>MES ARTICLES & PUBLICATIONS</h3>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 col-sm-12" id="search-box">
            <form action="{% url 'articleslist' %}" method="GET">
                <input type="search" name="q" placeholder="Search your articles here...." value="{{ request.GET.q }}"><button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <hr>
    <div class="container">
    <div class="row mt-5">
        {% for articles in object_list %}
        <div class="col-lg-4 col-sm-6 mt-3">
            <div class="card card-article">
                <a href="{% url 'articlesdetails' articles.pk %}">
                    <div class="img">
                        <img src="{{ articles.image.url }}" class="card-img-top" alt="Image Description"
                            style="width:100%; height:300px;">
                        <p class="category-desc">Categorie > {{ articles.category }}</p>
                        <p class="nbre_de_commentaire"><i class="fas fa-comments"></i> {{ articles.comment_count }}</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ articles.title }}</h5>
                        <hr>
                        <small class="card-text infos text-muted">par <i class="fas fa-circle-user"></i> {{ articles.author }} le <i class="fas fa-calendar"></i> {{ articles.date }} a <i class="fas fa-clock"></i> {{ articles.time }}</small>
                        <hr>
                        <p>{{ articles.content|truncatewords:20 }}</p>
                        <hr>
                        <button><a href="{% url 'articlesdetails' articles.pk %}" class="btn">Lire l'article...</a></button>
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
            <div class="col-lg-12 text-center empty">
                <h4 class="error_message"><span><i class="fas fa-triangle-exclamation"></i></span> Désolé mais il n'ya Aucun Résultat pour cet recherche...</h4>
            </div>
        {% endfor %}
    </div>
    </div>
    
    <br><br><br>
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Première">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Précédente">
                    Précédente
                </a>
            </li>
            {% endif %}

            <!-- Afficher les numéros de page -->
            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Suivante">
                    Suivante
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Dernière">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <br><br>

</div>

<style>
    body{
        background-color: #6b6f74;
    }
    #text-accueille {
        font-family: 'Montserrat';
        letter-spacing: 1px;
        color: #fff;
    }
    .empty span{
        color: yellowgreen;
    }
    .empty .error_message{
        font-family: 'Poppins';
        font-weight:bolder;
        text-transform: uppercase;
    }
    body .card-title{
        font-family: 'Montserrat';
    }

    body .card-text{
        font-family: 'Poppins';
    }

    body .card img{
        filter: brightness(30%);
    }

    #search-box input{
        width: 400px;
        padding: 5px;
        outline: none;
        font-family: 'Poppins';
    }

    #search-box button{
        padding: 5px;
        background-color: #343a40;
        color: #fff;
        width: 50px;
        border: none;
        height: 40px;
    }

    #search-box button:hover {
        background-color: #f7f7f7;
        color: rgb(38, 40, 43);
        border: 1px solid black;
    }

    #search-box ::placeholder {
        font-family: 'Poppins';
        letter-spacing: 2px;
        border-radius: 5px;
    }

    /* Article Customize */
    body .card-article .card-body .card-title{
        text-transform: uppercase;
        font-weight: bold;
    }
    body .card-article a {
        text-decoration: none;
        color: #000;
    }
    body .card-body p{
        font-family: 'Poppins';
    }
    body .card-article .img img{
        filter: brightness(80%);
    }

    body .card-article .img {
        position: relative;
    }
    body .card-article:hover {
        transform: scale(1.1);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        border-color: #3c3e3f;
        transition: ease-in-out 0.5s;
    }
    body .card-article .img .category-desc{
        font-size: 15px;
        text-transform: uppercase;
        position: absolute;
        bottom: 2px;
        right: 15px;
        font-family: 'Poppins';
        color: #ffffff;
        font-weight: bold;
        font-style: italic;
    }
    body .card-article .img .nbre_de_commentaire {
        position: absolute;
        top: 10px;
        left: 15px;
        color: rgb(240, 240, 240);
        background-color: #2a282b;
        padding: 6px;
        font-size: 1.3rem;
        font-family: 'Poppins';
        border-radius: 5px;
        border: none;
    }
    body .card-article button {
        background-color: #343a40;
        border: none;
        border-radius: 5px;
        height: 50px;
        font-family: 'Poppins';
    }
    body .card-article button:hover {
        background-color: #f7f7f7;
        color: rgb(38, 40, 43);
        border: 2px solid black;
    }
    body .card-article button a {
        color: #fff;
    }
</style>

{% endblock content %}